:root {
    --bg-drop-themed: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5));
}

.wrapper__216eb[aria-label="Servers sidebar"] {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.wrapper__216eb[aria-label="Servers sidebar"]:hover .expandedFolderBackground_b1385f {
    width: 225px;
    transition: all 0.3s ease-in-out;
}

.wrapper__216eb[aria-label="Servers sidebar"]:hover .expandedFolderBackground_b1385f~.listItem__48528:nth-child(2)>div::before {
    content: attr(data-dnd-name);
    top: 1.125rem;
    left: 4.5rem;
    position: absolute;
    padding: 0px 5px 5px 5px;
    width: fit-content;
    max-width: 8.5rem;
    color: var(--text-normal);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width 0.3s ease-in-out;
}

.expandedFolderBackground_b1385f,
.expandedFolderBackground_b1385f.collapsed__98ad5 {
    padding-bottom: 48px !important;
    transition: all 0.2s ease-in-out;
    background: var(--background-secondary, rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5)));
}

.expandedFolderBackground_b1385f.collapsed__98ad5.hover__043de,
.expandedFolderBackground_b1385f.hover__043de {
    background: var(--bg-overlay-1, var(--background-secondary-alt));
}

.wrapper__216eb[aria-label="Servers sidebar"]:hover {
    width: 250px;
    transition: all 0.3s ease-in-out;
}

:has(expandedFolderBackground_b1385f) .blobContainer_c44493 {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.wrapper__216eb[aria-label="Servers sidebar"]:hover :has(.expandedFolderBackground_b1385f) .blobContainer_c44493::after {
    content: attr(data-dnd-name);
    position: absolute;
    top: 5px;
    z-index: 8 !important;
    padding: 12px 5px 5px 5px;
    border-radius: 8px;
    width: fit-content;
    max-width: 8.5rem;
    left: 4.5rem;
    display: block;
    color: var(--text-normal);
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.wrapper__216eb[aria-label="Servers sidebar"]:hover .folder__17546::after {
    content: attr(aria-label);
    position: absolute;
    top: 5px;
    padding: 18px;
    border-radius: 8px;
    width: fit-content;
    max-width: 8rem;
    left: 4.5rem;
    display: block;
    color: var(--text-normal);
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.wrapper__9916c:has(.lowerBadge_e89e22) .expandedFolderIconWrapper__324c1 {
    position: relative;
    right: 5px;
    bottom: 5px;
}

.theme-dark.custom-theme-background .wrapper__216eb[aria-label="Servers sidebar"]:hover div[aria-label="Servers"]>.listItem__48528 .childWrapper_a6ce15 {
    background-color: var(--background-secondary-alt) !important;
    transition: background-color 0.2s ease-in-out;
}

.wrapper__216eb[aria-label="Servers sidebar"] div[aria-label="Servers"]>.listItem__48528::after,
.wrapper__216eb[aria-label="Servers sidebar"] div[aria-label="Servers"]>.listItem__48528::before {
    transition: width 0.2s ease-in-out; 
}

.wrapper__216eb[aria-label="Servers sidebar"]:hover div[aria-label="Servers"]>.listItem__48528::before {
    content: "";
    position: absolute;
    background: var(--bg-drop-themed, var(--background-secondary));
    width: 9.8rem;
    height: 2.963rem;
    border-radius: 5px 0 0 5px;
    left: 1.9rem;
    transition: width 0.2s ease-in-out;
}

.wrapper__216eb[aria-label="Servers sidebar"]:hover div[aria-label="Servers"]>.listItem__48528::after {
    content: "";
    position: absolute;
    background: var(--bg-drop-themed, var(--background-secondary));
    width: 3.125rem;
    height: 2.975rem;
    border-radius: 0 50% 50% 0;
    left: 11.7rem;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}

.theme-light.custom-theme-background .wrapper__216eb[aria-label="Servers sidebar"]:hover div[aria-label="Servers"]>.listItem__48528::before {
    content: "";
    position: absolute;
    background: var(--bg-drop-themed, var(--background-secondary));
    width: 9.8rem;
    height: 2.963rem;
    border-radius: 5px 0 0 5px;
    left: 1.9rem;
    transition: width 0.2s ease-in-out;
}

.theme-light.custom-theme-background .wrapper__216eb[aria-label="Servers sidebar"]:hover div[aria-label="Servers"]>.listItem__48528::after {
    content: "";
    position: absolute;
    background: var(--bg-drop-themed, var(--background-secondary));
    width: 3.125rem;
    height: 2.975rem;
    border-radius: 0 50% 50% 0;
    left: 11.7rem;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}

.theme-dark.custom-theme-background .wrapper__216eb[aria-label="Servers sidebar"]:hover div[aria-label="Servers"]>.listItem__48528::before {
    content: "";
    position: absolute;
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    width: 9.8rem;
    height: 2.963rem;
    border-radius: 5px 0 0 5px;
    left: 1.9rem;
    transition: width 0.2s ease-in-out;
}

.theme-dark.custom-theme-background .wrapper__216eb[aria-label="Servers sidebar"]:hover div[aria-label="Servers"]>.listItem__48528::after {
    content: "";
    position: absolute;
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    width: 3.125rem;
    height: 2.975rem;
    border-radius: 0 50% 50% 0;
    left: 11.7rem;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}
