@font-face {
    font-family: "Twemoji Mozilla";
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
    unicode-range: U+1F1E6-1F1FF;
}

* {
    font-family: "Twemoji Mozilla", var(--font-primary);
}
