@font-face {
    font-family: 'Twemoji Mozilla';
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
    unicode-range: U+1F1E6-1F1FF;
}

:root {
    --font-primary: 'Twemoji Mozilla', 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Symbols';
}
