.uploadDropModal_cfadae.error_d2567f .title__76592,
.uploadDropModal_cfadae.error_d2567f .instructions_e266ce {
    visibility: hidden;
}

.uploadDropModal_cfadae.error_d2567f .title__76592::before {
    content: "That was";
    position: relative;
    right: 20px;
    visibility: visible;
}

.uploadDropModal_cfadae.error_d2567f .title__76592::after {
    content: "fucking stupid";
    position: relative;
    top: -22px;
    right: -23px;
    visibility: visible;
    font-style: italic;
}

.uploadDropModal_cfadae.error_d2567f .instructions_e266ce::before {
    content: "Don't ever post that bullshit again";
    position: relative;
    left: 2.8rem;
    visibility: visible;
}

.uploadDropModal_cfadae.error_d2567f .instructions_e266ce::after {
    content: "You fucking degenerate";
    position: relative;
    right: 4.8rem;
    visibility: visible;
}
