/**
* @name Degenerate File Upload
* @author catpurrchino
* @description Redesigned File Upload Error Modal
* @version 1.0.0
* @note You may redistribute this snippet as you like without attribution to the author
* @source https://github.com/faf4a/snippets
*/

[class*=uploadDropModal_][class*=error_] [class*=title_],
[class*=uploadDropModal_][class*=error_] [class*=instructions_] {
    visibility: hidden;
}

[class*=uploadDropModal_][class*=error_] [class*=title_]::before {
    content: "That was";
    position: relative;
    right: 20px;
    visibility: visible;
}

[class*=uploadDropModal_][class*=error_] [class*=title_]::after {
    content: "fucking stupid";
    position: relative;
    top: -22px;
    right: -25px;
    visibility: visible;
    font-style: italic;
}

[class*=uploadDropModal_][class*=error_] [class*=instructions_]::before {
    content: "Don't ever post that bullshit again";
    position: relative;
    left: 2.8rem;
    visibility: visible;
}

[class*=uploadDropModal_][class*=error_] [class*=instructions_]::after {
    content: "You fucking degenerate";
    position: relative;
    right: 4.8rem;
    visibility: visible;
}
