:root {
    --spotify-color: #25D865;
    --twitch-color: #944DFF;
    --youtube-color: #FF0000;
    --reddit-color: #FF4B08;
    --paypal-color: #003087;
    --tiktok-color: #EF2457;
    --steam-color: #162B5A;
    --crunchyroll-color: #F47927;
    --ebay-color: #B7E947;
    --xbox-color: #0A8108;
    --battlenet-color: #1B92FF;
    --playstation-color: #0808ED;
    --epic-games-color-light: black;
    --epic-games-color-dark: white;
    --github-color: #fafafa;
    --x-color-light: black;
    --x-color-dark: white;
    --league-of-legends-color: #CEA146;
    --twitter-color: #1da1f2;
    --instagram-color: #c13584;
    --riot-games-color: #EC0830;
    --domain-color-light: black;
    --domain-color-dark: white;
    --skype-color: #00aff0;
    --facebook-color: #1877f2;
}

.connectedAccountContainer__5972d:hover {
    border-radius: 3px;
    border: 1px solid currentColor;
    box-shadow: 0px 0px 6rem 0.1rem currentColor;
}

.connectedAccountContainer__5972d .connectedAccountNameText__7abc2 {
    color: white;
    background-clip: text;
    animation: fadeInOut 0.25s ease, rainbowText 5s linear infinite 0.25s;
}

.connectedAccountContainer__5972d {
    transition: all 0.25s ease;
}

.connectedAccountContainer__5972d .connectedAccountNameText__7abc2 {
    color: white;
    transition: all 0.5s ease;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Spotify"]) {
    color: var(--spotify-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Twitch"]) {
    color: var(--twitch-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="YouTube"]) {
    color: var(--youtube-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Reddit"]) {
    color: var(--reddit-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="PayPal"]) {
    color: var(--paypal-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="TikTok"]) {
    color: var(--tiktok-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Steam"]) {
    color: var(--steam-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Crunchyroll"]) {
    color: var(--crunchyroll-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="eBay"]) {
    color: var(--ebay-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Xbox"]) {
    color: var(--xbox-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Battle.net"]) {
    color: var(--battlenet-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="PlayStation Network"]) {
    color: var(--playstation-color) !important;
}

.profileColors_ac6ab4:where(.theme-light) .connectedAccountContainer__5972d:hover:has([aria-label="Epic Games"]) {
    color: var(--epic-games-color-light) !important;
}

.profileColors_ac6ab4:where(.theme-dark) .connectedAccountContainer__5972d:hover:has([aria-label="Epic Games"]) {
    color: var(--epic-games-color-dark) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="GitHub"]) {
    color: var(--github-color) !important;
}

.profileColors_ac6ab4:where(.theme-dark) .connectedAccountContainer__5972d:hover:has([aria-label="X"]) {
    color: var(--x-color-dark) !important;
}

.profileColors_ac6ab4:where(.theme-light) .connectedAccountContainer__5972d:hover:has([aria-label="X"]) {
    color: var(--x-color-light) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="League of Legends"]) {
    color: var(--league-of-legends-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Twitter"]) {
    color: var(--twitter-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Instagram"]) {
    color: var(--instagram-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Riot Games"]) {
    color: var(--riot-games-color) !important;
}

.profileColors_ac6ab4:where(.theme-light) .connectedAccountContainer__5972d:hover:has([aria-label="Domain"]) {
    color: var(--domain-color-light) !important;
}

.profileColors_ac6ab4:where(.theme-dark) .connectedAccountContainer__5972d:hover:has([aria-label="Domain"]) {
    color: var(--domain-color-dark) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Skype"]) {
    color: var(--skype-color) !important;
}

.connectedAccountContainer__5972d:hover:has([aria-label="Facebook"]) {
    color: var(--facebook-color) !important;
}

.jumpToPresentBar__69174 {
    background: var(--bg-overlay-4, var(--background-accent));
}
