[class^="channelTextArea"] {
    & [class^=buttons_] {
        margin-right: 5px;
    }

    &>*:not([class^=buttons_]) {
        overflow: visible;
    }

    & [class*=emojiButton_]::before {
        content: "";
        width: 32px;
        height: 32px;
        image-rendering: pixelated;
        margin-top: 5px;
        pointer-events: none;
        background-image: url("https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif");
        animation: oneko 1s infinite;
        position: absolute;
        top: -38.4px;
        left: 0;
    }

    &:has([class*=replyBar_]) [class*=emojiButton_]::before {
        top: -4.5rem !important;
    }

    &:has([class*=threadSuggestionBar_]) [class*=emojiButton_]::before {
        top: -6.5rem !important;
    }

    &:has([class*=channelAttachmentArea_]) {

        &:has([class*=replyBar_]) {
            &:has(:not([class*=threadSuggestionBar_])) [class*=emojiButton_]::before {
                top: -20.25rem !important;
            }

            &:has([class*=threadSuggestionBar_]) [class*=emojiButton_]::before {
                top: -22.25rem !important;
            }
        }

        &:has(:not([class*=replyBar_])) [class*=emojiButton_]::before {
            top: -18rem !important;
        }
    }
}

@keyframes oneko {

    0%,
    50% {
        background-position: -64px 0;
    }

    50.0001%,
    100% {
        background-position: -64px -32px;
    }
}
